#nav {
    background-color: #00122B;
}

navbar navbar-expand-lg navbar-dark bg-dark static-top{
    background-color: #00122B;
}

.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }